/* 浏览器默认滚动条样式webkit */
::-webkit-scrollbar {
  display: none;
  width: 8px;
  height: 8px;
  //background-image: linear-gradient(135deg, #1de9b6 0%, rgba(8, 196, 219, 0.5) 72%, rgba(0, 182, 234, 0.3) 100%);
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  //background-image: linear-gradient(135deg, #1de9b6 0%, #08c4db 72%, #057494 100%);
  background-color: #a2a2a2;
  transition: all 0.2s;
  border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(95, 95, 95, 1);
}

/* Google浏览器保存记住密码默认样式修改，自动填充后input的背景色和color默认样式去除 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #606266 !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s;
}
input {
  background-color: transparent;
}

html,
body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
html,
body,
div,
ul,
li,
ol,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
code,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
#app {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #ffffff;
  color: #000000;
}
.botonback {
  border-radius: 32px;
  border: 1px solid #D2DEFF;
}
.gradient-blue {
  background: linear-gradient(180deg, #ff9429 0%, #ff9429 100%);
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.25);
  border-radius: 14px;
}
.dialog-bg {
  /* background-image: radial-gradient(at 45% 0%, #2a296b 0%, #090a0c 100%); */
  border: 1px solid #2a296b;
  border-image: linear-gradient(180deg, rgba(42, 41, 107, 1), rgba(42, 41, 107, 1)) 1 1;
}
.btn-bg {
  background: linear-gradient( 107deg, #7919f700 0%, #3E19F7 100%), #01043029;
  box-shadow: inset -1px -1px 1px 0px #ffffff4d, inset 1px 1px 6px 0px #ffffff66, inset 1px 1px 1px 0px #ffffffb3, 0px 4px 6px 0px #2a2a2a5c;
  border-radius: 6px 6px 6px 6px;
  /* border: 1px solid #ffffff80; */
  box-shadow: inset 0 0 2px 1px #ffffff40;
  font-size: 14px;
}
.card {
  background: #181717;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.bg-img {
  /* background: url('@/assets/imgs/bg.png') 0% 0% / 100% 100% no-repeat; */
  background-color: #100f0f;
}
